* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
font-family: 'Cabin', sans-serif;
background-color: #EBE9F6;
}
header{   
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  width: 100%;
  background-size: cover;
  background-position: center;
  height: 100px;
}
nav{
  width: 100%;
  display: flex;
  position: sticky;
  top: 0%;
  background-color: #ffffff;
  align-items: center;
  justify-content: space-around;
  padding: 15px 5%;
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  font-size: 20px;

}
@import url("https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap");

svg {
    font-family: "Zen Dots", sans-serif;
    width: 100%; height: 100%;
 
}
svg text {
    animation: stroke 9s infinite alternate;
    stroke-width: 1.8;
    stroke: #040E44;
    font-size: 30px;
    height: 100%;
}
@keyframes stroke {
    0%   {
        fill: rgba(255,255,255,0); stroke: #040E44;
        stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 1.8;
    }
    70%  {fill: rgba(255,255,255,0); stroke: #040E44; }
    80%  {fill: rgba(255,255,255,0); stroke: #040E44; stroke-width: 1.8; }
    100% {
        fill: #040E44; stroke: rgba(255,255,255,0);
        stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
    }
}
nav ul{
  list-style: none;
  width: 250%;
  text-align: right;
  padding-right: 60px;
}

nav ul li{
  display: inline-block;
  margin: 10px 20px;
  padding-left: 40px;
  font-size: 13px;
}

nav ul li a{
  color: #040E44;
  text-decoration: none;
}
.singin{
  font-family: arial;
  color: #ffffff;
  font-size: 13px;
  padding: 6px 15px;
  border-radius: 40px;
  border: 0px solid #3866A3;
  background: #040E44;
}

/*xhdfjythvjyhgvkubkuyjvkutygbkutjybkuylikkv*/
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  padding: 50px;
  height: 90vh;
}
.first h1{
  color: blue;
  font-size: 50px;
  margin-bottom: 30px;

}
.first p{
 color: black;
 font-size: 15px;
}

.images {
  display: flex;
  flex-direction: column;
}

.large-image {
  width: 550px;
  height: auto;
  margin-bottom: 10px;
  margin-left: 160px;
}
.small-image1 {
  width: 320px;
  height: auto;
  position: absolute;
  margin-left: 60px;
}

.small-image2 {
  width: 385px;
  height: 250px;
  margin-left: 400px;
  display: block;
}


/*wifi shit*/

.container1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 200px;
  padding: 20px;
  margin-top: 50px;
}

.wifi-info {
  width: 200px;
  text-align: center;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
}

.wifi-icon {
  width: 50px;
  height: auto;
}

.title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

.description {
  font-size: 14px;
  margin-top: 10px;
}
.container2 {
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 200px;
padding: 50px;
}

/*footer!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
footer {
background-color: #0b1933;
color: white;
padding: 20px 0;
}

.footer-container {
display: flex;
justify-content: space-around;
align-items: center;
padding: 0 20px;

}

.left-section {
display: flex;
flex-direction: column;
}

.company-name {
font-size: 20px;
font-weight: normal;
margin-bottom: 10px;
font-family: "Zen Dots", sans-serif;
}

.contact-info p {
margin: 5px 0;
}

.right-section {
font-size: 35px;
font-weight: bold;
}

.right-section p {
margin: 0;
}

/*respomcive!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!laptop*/
@media screen and (max-width:1130px){
svg{
  width: 100%;
}
svg text{
 font-size: 20px;
}
.first h1{
  font-size: 40px;
  margin-bottom: 37px;
  
}
.container{
height: 80vh;
}
.first p{

 font-size: 12px;
}

.images {
  display: flex;
  flex-direction: column;
}

.large-image {
  width: 400px;
  height: auto;
  margin-bottom: 10px;
  margin-right: 100px;
}
.small-image1 {
  width: 220px;
  height: auto;
  position: absolute;
  margin-left: 60px;
}

.small-image2 {
  width: 325px;
  height: 250px;
  margin-left: 290px;
  display: block;
}


}
@media screen and (max-width:874px){
.container{
  height: 95vh;
}

.singin{
  font-size: 10px;
}
svg{
  width:145%;
}
svg text{
  font-size: 23px;
}
.first h1{
  font-size: 35px;
  margin-bottom: 30px;
  margin-top: -50px;

}
.first p{

 font-size: 10px;
}

.images {
  display: flex;
  flex-direction: column;
  margin-top: -60px;
}

.large-image {
  width: 330px;
  height: auto;
  margin-bottom: 10px;
  margin-right: -50px;
}
.small-image1 {
  width: 160px;
  height: auto;
  position: absolute;
  margin-left: 120px;
}

.small-image2 {
  width: 235px;
  height: 170px;
  margin-left: 290px;
  display: block;
}

hr{
margin-left: 30px;
}
}

@media screen and (max-width:800px){
.container{
 flex-wrap: wrap-reverse;

}
.images{
  margin-left: -120px;
}
.first{
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.first h1{
  font-size: 35px;
  margin-bottom: 30px;
  margin-top: -50px;
}
svg{
width: 170%;
}
svg text{
font-size: 17px;
}
.first p{

 font-size: 10px;
}
}

@media screen and (max-width: 513px){
nav ul li{
  display: inline-block;
  margin-right:  -40px;
  padding-left: 0px;
  font-size: 11px;
}
nav ul{
  width: 30%;
}
svg{
  width: 150%;
}
svg text{
  font-size: 19px;
}
.singin{
  font-size: 9px;
  padding: 4px 8px;
}
.container{
  flex-wrap: wrap-reverse;

 }
 .images{
   margin-left: -120px;
 }
 .first{
   align-items: center;
   display: flex;
   justify-content: center;
   flex-direction: column;
   text-align: center;
 }
 .first h1{
   font-size: 35px;
   margin-bottom: 30px;
   margin-top: -50px;

}
.first p{

  font-size: 10px;
 }
}

@media screen and (max-width:455px){
nav ul li{
  display: inline-block;
  margin-right:  -50px;
  padding-left: 0px;
  font-size: 10px;
}
nav ul{
  width: 30%;
}
svg{
  width: 300%;
}
svg text{
  font-size: 16px;
}
.singin{
  font-size: 9px;
  padding: 4px 8px;
}
.container{
  flex-wrap: wrap-reverse;
  height: 100vh;
 }
 .images{
   margin-left: -140px;
 }
 .first{
   align-items: center;
   display: flex;
   justify-content: center;
   flex-direction: column;
   text-align: center;
 }
 .first h1{
   font-size: 35px;
   margin-bottom: 15px;
   margin-top: -210px;

}
.first p{

  font-size: 9px;
 }

 .large-image {
  width: 300px;
  height: auto;
  margin-bottom: 10px;
  margin-right: -50px;
}
.small-image1 {
  width: 130px;
  height: auto;
  position: absolute;
  margin-left: 120px;
}

.small-image2 {
  width: 220px;
  height: 140px;
  margin-left: 260px;
  display: block;
}


.company-name {
  font-size: 15px;
  font-weight: normal;
  margin-bottom: 10px;
  font-family: "Zen Dots", sans-serif;
}

.contact-info p {
  margin: 5px 0;
}

.right-section {
  font-size: 20px;
  font-weight: bold;
}

.right-section p {
  margin: 0;
}
.contact-info p{
  font-size: 10px;
}
}

@media screen and (max-width:400px){

.container{
  flex-wrap: wrap-reverse;
  height: 100vh;
 }
 .images{
   margin-left: -140px;
 }
 .first{
   align-items: center;
   display: flex;
   justify-content: center;
   flex-direction: column;
   text-align: center;
 }
 .first h1{
   font-size: 35px;
   margin-bottom: 15px;
   margin-top: -100px;

}
.first p{

  font-size: 9px;
 }

 .large-image {
  width: 265px;
  height: auto;
  margin-bottom: 10px;
 
}
.small-image1 {
  width: 120px;
  height: auto;
  position: absolute;
  margin-left: 110px;
}

.small-image2 {
  width: 200px;
  height: 120px;
  margin-left: 235px;
  display: block;
}


.company-name {
  font-size: 15px;
  font-weight: normal;
  margin-bottom: 10px;
  font-family: "Zen Dots", sans-serif;
}

.contact-info p {
  margin: 5px 0;
}

.right-section {
  font-size: 20px;
  font-weight: bold;
}

.right-section p {
  margin: 0;
}
.contact-info p{
  font-size: 10px;
}
}
